@media screen and (max-width:600px) {

    /* responsive for mobile device */
    *{
        margin:0;
        padding:0;
    }
    header {
        padding-left: 5%;
        padding-right: 5%;
    }
    nav{
        
        align-items:start;
    }
    .menu-items{
        display:none;
        flex-direction: column;
        width:400%;
        align-items: center;
    }
    .menu-icon,.menu-toggle{
        display:flex;
    }
    .menu-toggle{
        display:none;
    }
    .menu-icon::before{
        content: "\2630";
        font-size: 2em;
        cursor:pointer;
    }
    .menu-toggle:checked + .menu-icon::before{
        content:"X";
    }
    .menu-toggle:checked ~ .menu-items{
        display:flex;
    }
    nav{
        flex-direction:column;
        position:relative;
    }
    .menu-toggle,.menu-icon{
        position:absolute;
        top:0;
        right: 0;
    }
    

    /* banner  */
    .banner{
        padding-top:32px;
        padding-bottom:32px;
    }
    .banner h1{
        
        font-size:1.5em;
    }
    .banner p{
        width:90.75%;
        font-size:0.9em;
        margin-top:8px;
        
    }
    .travel-search-feature{
        flex-direction: column;
        padding:5.5%;
        width:80%;
    }
    .travel-search-feature select,button{
        width:100%;
        margin-top:16px;
    }
    .travel-search-feature input{
        width:93.99%;
    }



    /* main starts */
    main{
        padding-left:5%;
        padding-right:5%;
    }

    /* tour style */
    .tour {
        flex-direction:column;
        margin-top:28px;
        margin-bottom:50px;
    }
    .tour-img img{
        width:100%;
        
    }
    .tour-text h1{
        font-size:2em;
    }
    .tour-text button{
        width:50%;
        
    }
    


    /* destination */
    .destination{
        margin-top:30px;
        margin-
    }
    .destination .heading{
        
        font-size:1.5em;
    }
    .destination-img-1{
        flex-direction:column;
    }     
    .destination-img-1 img{
        width:100%;
        object-fit: cover;
        height:177px;
        border-radius:16px;
    }     

    .destination-img-2{
        flex-direction:column;
    }     
    .destination-img-2 img{
        width:100%;
        object-fit: cover;
        height:177px;
        border-radius:16px;
    } 

    .destination-img-3{
        flex-direction:column;

    }     
    .destination-img-3 img{
        width:100%;
        object-fit:cover;
        height:177px;
        border-radius:16px;
    }    
    
    .img-1  h1{
        left:30%;
        top:40%;
    }
    .img-2  h1{
        left:31%;
        top:40%;
    }
    .img-2 .north-america{
        left:16%;
    }
    .img-2 .kashmir{
        left:30%;
    }
    .img-3  h1{
        left:26%;
        top:40%;
    }
    .img-3 .bangladesh{
        left:23%;
    }

    /* main ends */
    
}