@media screen and (max-width:600px) {

    /* responsive for mobile device */
    *{
        margin:0;
        padding:0;
    }
    header {
        padding-left: 5%;
        padding-right: 5%;
    }
    nav{
        
        align-items:start;
    }
    .menu-items{
        display:none;
        flex-direction: column;
        width:400%;
        align-items: center;
    }
    .menu-icon,.menu-toggle{
        display:flex;
    }
    .menu-toggle{
        display:none;
    }
    .menu-icon::before{
        content: "\2630";
        font-size: 2em;
        cursor:pointer;
    }
    .menu-toggle:checked + .menu-icon::before{
        content:"X";
    }
    .menu-toggle:checked ~ .menu-items{
        display:flex;
    }
    nav{
        flex-direction:column;
        position:relative;
    }
    .menu-toggle,.menu-icon{
        position:absolute;
        top:0;
        right: 0;
    }
    

    /* banner  */
    .banner{
        padding-top:32px;
        padding-bottom:32px;
    }
    .banner h1{
        
        font-size:1.5em;
    }
    .banner p{
        width:90.75%;
        font-size:0.9em;
        margin-top:8px;
        
    }
    .travel-search-feature{
        flex-direction: column;
        padding:5.5%;
        width:80%;
    }
    .travel-search-feature select,button{
        width:100%;
        margin-top:16px;
    }
    .travel-search-feature input{
        width:93.99%;
    }



    /* main starts */
    main{
        padding-left:5%;
        padding-right:5%;
    }

    /* tour style */
    .tour {
        flex-direction:column;
        margin-top:28px;
        margin-bottom:50px;
    }
    .tour-img img{
        width:100%;
        
    }
    .tour-text h1{
        font-size:2em;
    }
    .tour-text button{
        width:50%;
        
    }
    


    /* destination */
    .destination{
        margin-top:30px;
        
    }
    .destination .heading{
        
        font-size:1.5em;
    }
    .destination-img-1{
        flex-direction:column;
    }     
    .destination-img-1 img{
        width:100%;
        object-fit: cover;
        height:177px;
        border-radius:16px;
    }     

    .destination-img-2{
        flex-direction:column;
    }     
    .destination-img-2 img{
        width:100%;
        object-fit: cover;
        height:177px;
        border-radius:16px;
    } 

    .destination-img-3{
        flex-direction:column;

    }     
    .destination-img-3 img{
        width:100%;
        object-fit:cover;
        height:177px;
        border-radius:16px;
    }    
    
    .img-1  h1{
        left:30%;
        top:40%;
    }
    .img-2  h1{
        left:31%;
        top:40%;
    }
    .img-2 .north-america{
        left:16%;
    }
    .img-2 .kashmir{
        left:30%;
    }
    .img-3  h1{
        left:26%;
        top:40%;
    }
    .img-3 .bangladesh{
        left:23%;
    }




    /* choose section */
    .choose-div-container{
        flex-direction:column;
    }
    .choose-div{
        width:84.3%;
    }
    .choose-div img{
        width:5em;
    }



    /* deals section */
    .deals-1{
        padding:55.8% 4.8% 4.8% 4.8%;
    }
    .deals-2{
        padding:55.8% 4.8% 4.8% 4.8%;
    }
    .deals-3{
        padding:55.8% 4.8% 4.8% 4.8%;
    }

    .booking{
        flex-wrap:wrap;
    }



    /* perfect place section */
    .perfect-place{
        flex-direction:column;
    }
    .perfect-place-text{
        width:100%;
    }
    .perfect-place-video video                   {
        width:200%;
    }
    .perfect-place h1{
        font-size:1.5em;
    }
    .perfect-place button{
        width:50%;
    }
    .perfect-place-video h4{
        width:200%;
        top:30%;
        left:3%;
    }
    
    
    /* newsletter styles */
    .newsletter{
        flex-direction:column;
    }
    .newsletter-text{
        width:74.5%;
    }
    .newsletter-img{
        width:100%;
        height:500px;
    }
    .save-up{
        font-size:0.7em;
        bottom:22%;
        left:32%;
    }





    /* main ends */
    footer{
        padding:10px;
        padding-bottom:30px;
    }
    footer .wev-name-logo{
        font-size:0.5em;
        align-items:center;
        margin-top:30px;
    }
}